:root {
    --primary-color: #d5ff40;
    --secondary-color: black;
    --grey-color: #171717;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;

}

html,
body {
    width: 100%;
    height: 100%;
}

/* Navbar Styling */
header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 2rem 2rem 0 4.5rem;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex-shrink: 0;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: -1px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    flex-shrink: 0;
    padding: 1rem 2.7rem;
    margin-left: 1vw;
}

.nav-links li:active {
    scale: 0.9;
}

.nav-links li a {
    color: var(--secondary-color);
    text-decoration: none;
    letter-spacing: -1px;
    font-weight: 400;
    font-size: 1.5vw;
    position: relative;
}

.nav-links li a::after {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -5px;
    right: 0;
    left: 0;
    margin: auto;
    background-color: black;
    transition: all .3s ease;
}

.nav-links li a:hover::after {
    width: 100%;
}



/* Hamburger Menu Styling */
.menu-toggle {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 18px;
    width: 24px;
    position: relative;
    z-index: 15;
}

.menu-toggle span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--secondary-color);
    transition: all 0.3s ease;
}

/* Transform the hamburger into an "X" */
.menu-toggle.open span:nth-child(1) {
    transform: rotate(45deg) translate(4px, 4px);
}

.menu-toggle.open span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
}

/* Hero Section Styling */
.hero {
    width: 100%;
    background-color: var(--primary-color);
    padding: 4rem 2rem 4rem 4.5rem;

}

.hero-content {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
}

.hero-content h1 {
    font-size: 14vw;
    letter-spacing: -10px;
    font-weight: 700;
    line-height: 170px;
    /* margin-bottom: 1rem; */
}

.hero-content .video {
    /* background-image: url(https://as1.ftcdn.net/v2/jpg/05/25/74/74/1000_F_525747406_FfQ0yQKvL9FziFxjMIWZzToE5dpDUcrx.jpg); */
    background-image: url(./image/hero-image.jpeg);
    background-position: -130px -210px;
    background-size: 630px;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-right: 30px;
    width: 420px;
    height: 100px;
    border-radius: 50px;
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

.video .play {
    width: 90px;
    height: 90px;
    background-color: black;
    /* border: 3px solid #eee; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.play i {
    color: white;
    font-size: 2rem;

}

.hero-content p {
    margin-top: 45px;
    font-size: 2vw;
    font-weight: lighter;
    -webkit-text-stroke: 1.3px;
    -webkit-text-stroke-color: rgb(45, 30, 15);
    line-height: 38px;
    font-optical-sizing: auto;
    width: 42%;
    color: rgb(34, 27, 12);
    height: 90px;
}

.btn {
    margin-top: 40px;
    width: 100%;
    padding: 0 1.4rem;
}

.btn button {
    cursor: pointer;
    width: 20vw;
    margin-right: 10px;
    font-size: 1.2vw;
    letter-spacing: 1px;
    height: 40px;
    background-color: transparent;
    border: 2px solid rgb(44, 43, 43);
    border-radius: 50px;
}

.btn button i {
    margin-right: 5px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary-color);
}

.hero-image {
    margin-top: 70px;

    width: 85%;
    height: 650px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    background-image: url(./image/hero-image2.png);
    /* background-image: url(https://img.freepik.com/premium-photo/abstract-3d-render-ballerina-curvy-extrusions-vivid-pastel-colors_685067-966.jpg?w=1060); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-image::after {
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.047);

}

.image .arrow {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    right: 8%;
    top: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid #2e2b2b;
    z-index: 1;
}

.arrow i {
    color: var(--primary-color);
    font-size: 9rem;
}

.moving-text {
    width: 100%;
    height: 13vw;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 2rem 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    margin: 0 10px;
    animation: moveing 29s linear infinite;
}

.container h2 {
    display: inline-block;
    font-size: 4.4vw;
    white-space: nowrap;
    margin: 0 5vw;
}

.container i {
    display: inline-block;
    font-size: 2.5vw;
    margin: auto;
}


@keyframes moveing {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);

    }

}

.service {
    width: 100%;
    height: 100vh;
    background-color: var(--grey-color);
    padding: 4rem 3rem 0 4.5rem;
}

.ser-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.contentLeft {
    width: 60%;
}

.contentLeft h1 {
    letter-spacing: -6px;
    font-size: 7vw;
    color: #c4c4c4;

}

.contentLeft h1 span {
    color: var(--primary-color);
}

.contentLeft p {
    margin-top: 20px;
    width: 90%;
    font-size: 1.5vw;
    font-weight: 300;
    color: #5e5e5e;
}

.contentRight {
    margin-top: 40px;
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1.5vw;
}

.contentRight .top,
.contentRight .bottom {
    display: flex;

}

.contentRight .top button,
.contentRight .bottom button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: 10px;
    padding: 0px 20px;
    text-align: center;
    font-size: 1.4vw;
    letter-spacing: 1px;
    height: 4vw;
    background-color: transparent;
    color: #5e5e5e;
    border: 2px solid #5e5e5e;
    border-radius: 50px;
}

.contentRight button i {
    text-align: center;
    font-size: 1.4vw;
    margin-right: 5px;
}

.contentRight button:hover {
    border: 2px solid #909090;
    color: #909090;
}


.elem {
    width: 100%;
    height: 10vw;
    border-top: 1px solid #5e5e5e98;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.elem h1 {
    color: #5e5e5e;
    font-size: 4vw;
    font-weight: 500;
    letter-spacing: -4px;
}





/* Mobile Menu */
@media (max-width: 826px) {
    .hero-content h1 {
        line-height: normal;
    }

    .hero-content p {
        font-size: 2vw;
        line-height: normal;
    }


}

@media (max-width: 768px) {
    header {
        padding: 2rem 2rem;
    }


    .nav-links {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 7;
        height: 100vh;
        width: 100%;
        background-color: var(--primary-color);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-links.open {
        transform: translateX(0);
    }

    .nav-links li {
        margin: 1.5rem 0;
    }

    .nav-links li a {
        font-size: 3.4vw;
    }

    .menu-toggle {
        display: flex;
    }

    .hero {
        padding: 4vw 4vw;
    }

    .hero-content {
        gap: 20px;
        flex-direction: column-reverse;
    }

    .hero-content:nth-child(2) {
        flex-direction: column;
        gap: 0;

    }

    .hero-content h1 {
        font-size: 19.5vw;
        letter-spacing: -5px;

    }

    .hero-content p {
        width: 100%;
        font-size: 1rem;
    }

    .btn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .hero-image {
        height: 350px;
    }

    .image .arrow {
        width: 20vw;
        height: 20vw;
    }

    .arrow i {
        font-size: 14vw;
    }

    .service {
        padding: 4rem 3vw 0 4.5vw;
    }

    .ser-content {
        flex-direction: column;
    }

    .contentLeft h1 {
        font-size: 8vw;

    }

    .contentRight {
        flex-direction: row;
    }

    .btn button {
        width: 38vw;
        font-size: 2.2vw;
        font-weight: 700;
    }

}

@media (max-width: 500px) {
    .hero-content .video {
        width: 100%;
    }

    .image .arrow {
        top: -3%;
    }
}